# training + dataset requirements
transformers
tensorboard
datasets
peft
bitsandbytes
trl
webcolors
pandas
# flash-attn
sentencepiece
deep-translator
langcodes

# integration requirements
requests>=2.31.0
huggingface-hub==0.23.0
webcolors<=1.13

# types from Home Assistant
homeassistant>=2024.6.1
hassil
home-assistant-intents

# testing requirements
pytest
pytest-asyncio
pytest-homeassistant-custom-component