transformers
tensorboard
datasets
peft
bitsandbytes
webcolors
pandas
# flash-attn
sentencepiece

homeassistant
hassil
home-assistant-intents
pytest
pytest-asyncio
pytest-homeassistant-custom-component