transformers>=4.48.3
tensorboard>=2.18.0
datasets>=3.2.0
peft>=0.14.0
bitsandbytes>=0.45.2
trl>=0.14.0
webcolors>=24.8.0
pandas>=2.2.3
# flash-attn
sentencepiece>=0.2.0
deep-translator>=1.11.4
langcodes>=3.5.0
babel>=2.15.0
