# types from Home Assistant
homeassistant>=2025.8.3
hassil
home-assistant-intents

# testing requirements
pytest
pytest-asyncio
# NOTE this must match the version of Home Assistant used for testing
pytest-homeassistant-custom-component==0.13.272
